body{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --Blue--colour: #3264A6;
  --Green--colour: #0DF205;
  --Green--colour: #0DF205;
  --white--colour: #FFFFFF;
  --black--colour: #0D0D0D;
}

#hero-container{
  max-width: 100%;
  position: relative;
}

#navbar{
  max-width: 100%;
  background-color: #0D0D0D;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#navbar img{
  width: 20%;
  height: auto;
  margin: auto 10px;
}

.nav-item{
  margin: 2rem auto;
}

.nav-item a{
  font-size: 20px;
 text-decoration: none;
 color: var(--Green--colour);
}

.tech-site{
  padding-left: 1rem;
}

#hero-image{
  margin-top: -10rem;
}

#hero-image img{
  max-width: 100%;
  z-index: -1;
  position: absolute;
  object-fit:cover;
  height: 100%;
  width: 100%;
}

.basset-cars,.cbar-cars{
  display: none;
}

#btn{
  padding-top:34rem;
  margin:1rem;
}

button{
  height: 3vh;
  width: 7vw;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--Blue--colour);
  color: var(--white--colour);
}

#options-header{
  margin-top: 2.25rem;
  background-color: var(--black--colour);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  font-size: 25px;
}

#options-header p{
  color:var(--Green--colour);
}

#district-car-options{
  display: flex;
  justify-content: space-between;
}

#district-car-options select, 
#district-car-options input{
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 5vh;
  background-color: var(--Blue--colour);
  border: none;
  box-shadow: 3px 1px 7px 1px rgba(0,0,0,0.75);
  color: var(--white--colour);
  text-align: center;
}

#district-selection,.district-driver,
#district-area1,#district-area2{
  font-size: 20px;
}