@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --Blue--colour: #3264a6b6;
  --Green--colour: #0df205;
  --Green--colour: #0df205;
  --white--colour: #ffffff;
  --black--colour: #0d0d0de1;
  --orange--colour: #d85521af;
  --red--colour: #b31111b3;
  --lightBlue--colour: #7ba9e6b8;
}

.container{
  max-width: 100%;
}

#hero-container {
  max-width: 100%;
  position: relative;
}

#navbar {
  max-width: 100%;
  background-color: #0d0d0d;
  display: grid;
  grid-template-columns: repeat(3,1fr);

}

#navbar h1 {
 color: var(--white--colour);
 text-align: center;
}

#powered-by{
  max-width:100%;
  width:30%;
  font-size: 20px;
}

.nav-heading{
  color:white;
  text-align: center;
  width: 100%;
}

#arcompanies-container{
  max-width: 100%;
  display: flex;
}

.pair-div{
  display: flex;
  flex-direction: row;
}

.dw-name h1,.db-name h1,.cbar-name h1,.vig-name h1{
  font-size: 40px;
  font-weight: bold;
}

.dw-name{
  background-color: var(--Blue--colour);
  height: 101px;
  color: var(--white--colour);
  
}

.dw-areas select{
  background-color: var(--Blue--colour);
  color: var(--white--colour);
  border-color: var(--white--colour);
  text-align: center;
  font-size: 25px;
  
}

.db-name{
  background-color: var(--orange--colour);
  height: 101px;
  color: var(--white--colour);
}

.db-areas select{
  background-color: var(--orange--colour);
  color: var(--white--colour);
  border-color: var(--white--colour);
  text-align: center;
  font-size: 25px;
}

.db-area-one,.cbar-area-one,.vig-area-one{
  border-left:3px solid var(--black--colour);
}

.cbar-name{
  background-color: var(--red--colour);
  height: 101px;
  color: var(--white--colour);
}

.cbar-areas select{
  background-color: var(--red--colour);
  color: var(--white--colour);
  border-color: var(--white--colour);
  text-align: center;
  font-size: 25px;
}

.vig-name{
  background-color: var(--lightBlue--colour);
  height: 101px;
  color: var(--white--colour);
}

.vig-areas select{
  background-color: var(--lightBlue--colour);
  color: var(--white--colour);
  border-color: var(--white--colour);
  text-align: center;
  font-size: 25px;
}

.dw-areas,.db-areas,.cbar-areas,.vig-areas{
  display: flex;
  max-width: 100%;
  width: 100%;
}

.dw-cars select,.db-cars select,.cbar-cars select,
.vig-cars select{
  max-width: 100%;
  width: 381.5px;
}


h1{
  text-align: center;
}

select{
  display: block;
  max-height: 100%;
  height: 6.2vh;
  width: 5vw;
}

@media (max-width: 1920px) {

  .dw-name,.db-name ,.cbar-name,.vig-name{
    width:25%;
  }

  .dw-areas select,.db-areas select,.cbar-areas select,.vig-areas select{
    width:9.91rem;
    font-size: 20px;
  }

  #powered-by{
    padding-left: 1rem;
  }
 
}

@media (max-width: 1280px) {

  #navbar h1 {
    font-size:15px;
  }

   #powered-by {
    font-size:10px !important;
  }

  .dw-name,.db-name ,.cbar-name,.vig-name{
    width:25%;
    height: 4rem;
  }

  .dw-name h1,.db-name h1,.cbar-name h1,.vig-name h1{
    font-size:25px;
  }

  .dw-areas select,.db-areas select,.cbar-areas select,.vig-areas select{
    width:6.55rem;
    font-size: 13px;
    height: 2.6rem;
  }

  #powered-by{
    padding-left: 1rem;
  }
 
}

@media (max-width: 1024px) {

  #navbar h1 {
    font-size:15px;
  }

   #powered-by {
    font-size:10px !important;
  }

  .dw-name,.db-name ,.cbar-name,.vig-name{
    width:25%;
    height: 4rem;
  }

  .dw-name h1,.db-name h1,.cbar-name h1,.vig-name h1{
    font-size:25px;
  }

  .dw-areas select,.db-areas select,.cbar-areas select,.vig-areas select{
    width:5.2rem;
    font-size: 13px;
    height: 2.6rem;
  }

  #powered-by{
    padding-left: 1rem;
  }
 
}










