:root {
  --Navbar--colour: #0E1E34;
  --Solid--Blue--colour: #3264a6;
  --faded--Blue--colour: #3264a6d0;
  --Green--colour: #1bb416b0;
  --white--colour: #ffffff;
  --black--colour: #0d0d0de1;
  --orange--colour: #d85521af;
  --red--colour: #b31111b3;
}

.container-fluid{
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
 
}

nav{
  background-color: var(--Solid--Blue--colour);
  height:100vh;
  width: 10vw;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  
}

li{
  margin-top: 5em;
  max-width: 100%;
  height: auto;
  transition: width 1s ease;
  padding-right: 1.5em;
}

li img{
  height: auto; 
  transition: width 1s ease;
  cursor: grab;
}

.toggle-menu{
  margin: em auto;
  max-width:100%;
  width:6%;
  
}

.btn-dark{
  width:3vw;
  height: 10vh;
}

.btn-dark img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(22deg) brightness(103%) contrast(102%);
  width:3vw;
}

#drag-container {
  opacity: 0.3;
  width: 100%;
  text-align: center;
}

#drag-container h1{
 margin-top: 1em;
}

#drag-container p{
  border: var(--black--colour) 1px solid;
  opacity: 0.3;
  margin: auto;
  width: 80%;
}

#close{
  padding-left: 3em;
}

#dispatch-list{
  max-width: 100%;
  
}

#district-watch {
  height: 100vh;
  width:100%;
}

.center-content{
  text-align: center;
}

.center-content p{
  text-align: center;
  border: var(--white--colour) 1px solid;
}

#district-watch img{
  max-width:10%;
  height: auto;
  padding-bottom: 1em;
}

#district-watch h5{
  color: var(--white--colour);
}

.car-area-container{
  max-width: 100%;
}

/*Animations Keyframe*/

@keyframes contract-nav {
  0%{
    width:10%;
  }

  100%{
    width:0;
  }
}

@keyframes contract-nav-btn {
  0%{
    margin: 25em auto;
  }

  100%{
    margin: 25em auto;
  }
}

@keyframes expand-nav {
  0%{
   width:0
   
  }

  100%{
    width:10%;
  }
}

@keyframes expand-nav-btn {
  0%{
    margin: 25em 0em;
    
  }

  100%{
    margin: 25em 10em;
  }
}

@keyframes rotate-arrow-close {
  0%{
   transform: rotate(0);
  }

  100%{
    transform: rotate(180deg);
  }
}

@keyframes rotate-arrow-open {
  0%{
   transform: rotate(180deg);
  }

  100%{
    transform: rotate(0);
  }
}

@keyframes drag-start{
  0%{
   transform: scale(1);
  }

  100%{
    transform: scale(0);
    display: none;
  }
}

/*Animations Keyframe*/

/*Animations classes*/
.close-nav{
  animation: contract-nav 1s forwards;
}

.close-nav-btn{
  animation: contract-nav-btn 1s forwards;
}

.open-nav{
  animation: expand-nav 2s 1 forwards;
}

.open-nav-btn{
  animation: expand-nav-btn 2s 1 forwards;
}

.rotate-close{
  animation: rotate-arrow-close 1s 1 forwards;
}

.rotate-open{
  animation: rotate-arrow-open 2s 1 forwards;
}

.drag-start{
  animation: drag-start 0.5s 1 forwards;
}

/*Animations classes*/

/*Dragging classes*/

.dragover{
  width:20%;
}

/*Dragging classes*/